
p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.normal {
    font-variant: normal;
}

p.small {
    font-variant: small-caps;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}
p.normal {
    font-weight: normal;
}

p.light {
    font-weight: lighter;
}

p.thick {
    font-weight: bold;
}
p.small {
    line-height: 2;
}

p.big {
    line-height: 4;
}
p.serif {
    font-family: "Times New Roman", Times, serif;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    letter-spacing: -3px;
}
p.small {
    line-height: 0.8;
}

p.big {
    line-height: 1.8;
}

